@font-face {
  font-family: poppin;
  src: url(Fonts/Lora.ttf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #9370db;
  --sec-color: #fffaf0;
  --back-color1: #162135;
  --back-color2: #11192b;
  --back-color3: #0a0f1a;
  --back-color4: #0d1931;
}

body {
  font-family: lora, sans-serif;
  background: var(--back-color3);
  color: var(--sec-color);
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*	#90EE90*/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--back-color1);
  padding: 25px 15px; 
  width: 100%;
}

.headerTitle {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; 
  color: var(--sec-color); 
  padding-left: 5vh;
}

.highlight {
  color: var(--primary-color);
}

.headerLinks {
  display: flex;
  font-size: 25px;
}

.headerLinks a {
  text-decoration: none;
  color: var(--sec-color);
  margin: 0 44px;
  transition: 0.3s;
}

.headerLinks a:hover {
  color: var(--primary-color);
  position: relative;
}

.headerLinks a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.headerLinks a:hover::before {
  width: 100%;
  visibility: visible;
}

#menu {
  font-size: 30px;
  color: var(--sec-color);
  display: none;
}

#icon {
  font-size: 30px;
  color: var(--sec-color);
  padding-left: 10px;
}

#icon:hover {
  color: var(--primary-color);
  position: relative;
}

.startPhoto {
  width: 480px;
  float: right;
  margin-top: 40px;
  padding-right: 250px;
}

section {
  width: 100%;
  height: 100vh;
}

#Home {
  height: 89vh;
  padding-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--back-color1);
}

#Home h3 {
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 10vh;
}

#Home h1 {
  font-size: 28px;
}

.homeText h1 {
  width: 600px;
}

.name {
  width: 800px;
  display: block;
  font-size: 48px;
  color: var(--primary-color);
  padding-top: 10px;
}

.aboutMe {
  padding: 10px 0px;
  text-decoration: underline;
  color: var(--sec-color);
  font-style: italic;
}

.aboutMe:hover {
  opacity: 0.7;
}

.aboutMeText {
  padding-top: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  border-radius: 30px;
  color: #202020;
  text-decoration: none;
  font-weight: bolder;
  margin-left: 10px;
}
.btn:hover {
  opacity: 0.7;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}
/*-----------------------------------------------------------*/

#About {
  background-color: var(--back-color2);
  position: relative;
  height: 92vh;
  width: 100%;
}

.mySlides {
  width: 100%;
  height: auto;
  border-radius: 60px;
  border: 10px solid var(--primary-color);
}

.flex-container {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  /* padding-left: 250px; */
  padding: auto;
  padding-bottom: 17%;
}

.text-container {
  flex: 1;
  width: 50%;
}

.image-container {
  flex: 1;
  width: 100%;
  margin: auto;
  padding-left: 5em;
  padding-top: 3em;
}

.image-container img {
  width: 75%;
}

.text-container h1 {
  text-decoration: underline;
  font-size: 34px;
  margin-bottom: 10px;
}

.text-container h2 {
  text-decoration: underline;
  font-size: 24px;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 1em;
}
/*------------------------------*/

#Skills {
  background-color: var(--back-color3);
  position: relative;
  height: 92vh; 
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: 0 auto;
}

.skills_container_header h1 {
  padding-top: 20px;
  margin-top: 0px;
  text-decoration: underline;
  font-size: 34px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.skills_container_header {
  text-align: center;
  width: 75%;
}

.skills_header_text {
  margin-bottom: 2%;
}

.skills-flexbox-container {
  display: flex;
  justify-content: space-between;
  gap: 30px; 
  flex-wrap: wrap; 
  padding: 20px;
  width: 100%; 
  width: 75%;
  margin: 0 auto;
}

.skills_languages, .courses_group {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  min-width: 250px;
}

.skills-flexbox-container h3 {
  font-size: 1.5rem;
  color: var(--sec-color);
  margin-bottom: 15px;
}

.skills_olist, .courses_olist {
  list-style-type: decimal-leading-zero;
  color: var(--sec-color);  
}

.skills_item {
  font-size: 1.1rem;
  margin-bottom: 8px; 
}

.skills_item::marker, .course_item::marker {
  color: var(--primary-color); 
}

.course_item {
  font-size: 1.1rem;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: underline;

}

.course_item:hover {
  color: #f0f0f0;
  transform: scale(1.06); 
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background: var(--back-color4);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*------------------------------------------------------------*/



#Project {
  background-color: var(--back-color2);
}
.project-flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.h1-projects {
  padding-top: 20px;
  margin-top: 0px;
  text-decoration: underline;
  font-size: 34px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.project1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 23vh;
}

.project1 img {
  width: 100%;
  max-width: 50vh;
  height: 65vh;
  border-radius: 40px;
  border: 7px solid var(--primary-color);
}

.projectText {
  text-decoration: underline;
  font-size: 20px;
}

.popup {
  width: 80%;
  height: 70%;
  background: var(--back-color3);
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0px 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 270%;
  transform: translate(-50%, -50%) scale(1);
}

.close-button {
  float: right;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  color: #666;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

.close-button:hover {
  color: #888;
}

.popup h2 {
  font-size: 40px;
}

.popup p {
  font-size: 20px;
}

#video {
  width: 80vh;
  height: auto;
  border: 4px solid var(--sec-color);
  border-radius: 5px;
}

.project-flexbox a:hover {
  opacity: 0.7;
  cursor: pointer;
}

/*------------------------------------------------------*/
